.NavigationItem {
    margin: 10px 0px;
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.NavigationItem a{
    color: #FA39A7;
    font-family: 'Sniglet', cursive;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 10px;
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    border-bottom: 4px solid #FA39A7;
}

@media (min-width: 500px) {
    .NavigationItem{
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    .NavigationItem a{
        background-color: #FA39A7 ;
        color: white;
        padding: 16px 20px;
        border-bottom: 4px solid transparent;
        height: 100%;
        width: auto;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        background-color: #FA39A7;
        border-bottom: 4px solid #FA39A7;
        color: white;
    }
}
